<h1>Add Your Book</h1>
<form method="POST" enctype="multipart/form-data">
  {% comment %} Need to add token which is cross site request forgery
  {%endcomment %} {% csrf_token %}

  <label id="name">Name</label>
  <input type="text" name="name" id="name" placeholder="Type name here" />

  <label id="description">Description</label>
  <input
    type="text"
    name="description"
    id="description"
    placeholder="Type description here"
  />

  <label id="price">Price</label>
  <input type="text" name="price" id="price" placeholder="Type price here" />

  <label id="Image">Image</label>
  <input type="file" name="image" id="image" placeholder="Upload an image" />

  <button type="submit">Add Book</button>
</form>
